<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="spBlock.Subscriber" value="tcp://13.251.25.40:28322" />
        <add key="spBlock.Topics" value="hashblock,hashtx,rawblock,rawtx" />
    </appSettings>
</configuration>