<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="spBlock.Subscriber" value="tcp://13.251.25.40:28322" />
        <add key="spBlock.Topics" value="hashblock,hashtx,rawblock,rawtx" />
        <add key="litecoinNetwork" value="Testnet" />
        <add key="litecoinFullNode" value="http://13.251.25.40:9332"/>
        <add key="litecoinFullNodeAuth" value="RWE1elBEMXlrNmd1MDFNTzNMa0tmUFBnbHdJNVFPOkRJQ0ZRMTQwTEdZaHVvanR3R3ZzWWx5Z3Nyak94Sw=="/>
        <add key="litecoinInsightApi" value="http://13.251.25.40:3001/insight-lite-api/"/><!-- https://insight.litecore.io/ -->
        <add key="SmartPesaAddr" value="mixpztc4vw6CNgtAKuMJvhygoGSu7hUbmx"/>
        <add key="PercentFee" value="1"/> <!-- percent -->
        <add key="IncludeFee" value="true"/>
    </appSettings>
</configuration>